### 지도학습

#### 분류 - 이진분류

In [34]:
import pandas as pd

In [35]:
df_TFD = pd.read_csv('../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### 전처리

In [36]:
df_TFD.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [37]:
df_TFD_extract = df_TFD[['Survived','Pclass','Age']]
df_TFD_extract.isnull().sum()

Survived      0
Pclass        0
Age         177
dtype: int64

In [38]:
df_TFD_extract_preprocess = df_TFD_extract.dropna()
df_TFD_extract_preprocess[:2]

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0

#### 정형화 단계

In [39]:
target_train = df_TFD_extract_preprocess['Survived']
features_train  = df_TFD_extract_preprocess[['Pclass','Age']]
target_train.shape, features_train.shape

((714,), (714, 2))

#### 모델학습

In [57]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(features_train, target_train)

LogisticRegression()

In [58]:
model.coef_, model.intercept_

(array([[-1.22653571, -0.04149665]]), array([3.532956]))

#### 평가

In [59]:
df_TFD_extract_preprocess[10:15]    # index가 features_train 같다.

    Survived  Pclass   Age
11         1       1  58.0
12         0       3  20.0
13         0       3  39.0
14         0       3  14.0
15         1       2  55.0

In [62]:
model.predict(features_train[10:15])

array([0, 0, 0, 0, 0], dtype=int64)

In [63]:
model.predict_proba(features_train[10:15])

array([[0.52507531, 0.47492469],
       [0.72642991, 0.27357009],
       [0.85383733, 0.14616267],
       [0.67427932, 0.32572068],
       [0.768957  , 0.231043  ]])

In [64]:
target_predict = model.predict(features_train)
# target_predict

In [65]:
from sklearn.metrics import accuracy_score    # 정확도

In [66]:
accuracy_score(target_train, target_predict)

0.696078431372549