Quest
- db_NHIS.NSC2_M20 in mongodb
- 연속형 타입 3가지 선택(target, label), csv 저장
- 전처리, 학습, 평가, 예측 과정 진행

In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS'] #Database 선택

In [4]:
collection = database['NSC2_M20'] # collection 선택

In [5]:
cursor = collection.find({})

In [6]:
list_M20 = list(cursor) # casting

In [7]:
df_M20 = pd.DataFrame(list_M20)

In [8]:
df_M20

,_id,RN_INDI,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,MCARE_SUBJ_CD,SICK_SYM1,OFIJ_TYPE,OPRTN_YN,...,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,HSPTZ_PATH_TYPE,SICK_SYM2,SPCF_SYM_TYPE,FST_HSPTZ_DT
0,64e5b7c843f0b22ed2751b28,429577,2002070826167,101494,20020729,3,15,B07,0,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
1,64e5b7c843f0b22ed2751b29,362517,2002070388352,82780,20020729,3,14,B354,NaN,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
2,64e5b7c843f0b22ed2751b2a,850526,2002040682051,15540,20020429,3,10,M81,0,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
3,64e5b7c843f0b22ed2751b2b,334221,2002050374273,47663,20020527,3,14,L739,0,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
4,64e5b7c843f0b22ed2751b2c,1008348,2002090440633,74788,20020924,3,4,D48,NaN,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e5b7d243f0b22ed27732ee,2078794,2015021769648,39694,20150217,2,11,J_,0,0,...,9.0,0.20,459240,107180,352060,2015,32.0,A099,NaN,NaN
137159,64e5b7d243f0b22ed27732ef,179035,2015031741483,85129,20150331,2,10,Z_,0,0,...,1.0,0.20,1296200,307940,988260,2015,32.0,O_,NaN,NaN
137160,64e5b7d243f0b22ed27732f0,2088649,2015072309822,128413,20150716,2,11,G039,0,0,...,9.0,0.25,945820,224940,720880,2015,32.0,J303,NaN,NaN
137161,64e5b7d243f0b22ed27732f1,857094,2015072016434,119190,20150712,10,0,F_,0,0,...,9.0,0.15,577940,0,577940,2015,32.0,F_,NaN,NaN
137162,64e5b7d243f0b22ed27732f2,286070,2015060100839,121839,20150603,2,9,G822,0,0,...,1.0,0.20,2004440,522320,1482120,2015,32.0,F_,NaN,20150603.0

In [9]:
df_M20.describe()

,RN_INDI,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,MCARE_SUBJ_CD,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,HSPTZ_PATH_TYPE,FST_HSPTZ_DT
count,1.371630e+05,1.371630e+05,137163.000000,1.371630e+05,137163.000000,137163.000000,137163.000000,137163.000000,137163.000000,137163.000000,133958.000000,137163.000000,1.371630e+05,1.371630e+05,1.371630e+05,137163.000000,4201.000000,1.040000e+03
mean,6.219426e+05,2.009887e+12,72441.668446,2.009887e+07,3.134767,7.012948,0.158986,1.977071,1.300190,8.787049,1.665656,0.163576,4.800070e+04,1.079379e+04,3.711239e+04,2009.819828,31.539395,2.012957e+07
std,5.250558e+05,3.710175e+09,43045.267803,3.710000e+04,0.985421,6.029033,1.185583,5.014257,1.769308,17.412973,1.784243,0.047625,3.264981e+05,5.320642e+04,2.838561e+05,3.710555,2.706418,2.093774e+04
min,1.433000e+03,2.002010e+12,8.000000,2.002010e+07,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2002.000000,11.000000,2.005080e+07
25%,2.676310e+05,2.007091e+12,34440.000000,2.007092e+07,3.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.150000,1.057000e+04,2.500000e+03,7.570000e+03,2007.000000,32.000000,2.012052e+07
50%,5.166210e+05,2.010100e+12,71653.000000,2.010101e+07,3.000000,5.000000,0.000000,1.000000,1.000000,3.000000,1.000000,0.150000,1.328000e+04,3.500000e+03,9.800000e+03,2010.000000,32.000000,2.013122e+07
75%,7.927530e+05,2.013061e+12,109296.000000,2.013061e+07,3.000000,12.000000,0.000000,1.000000,1.000000,7.000000,1.000000,0.150000,2.045000e+04,6.000000e+03,1.412000e+04,2013.000000,32.000000,2.014103e+07
max,3.000758e+06,2.015123e+12,147294.000000,2.015123e+07,15.000000,99.000000,9.000000,120.000000,62.000000,365.000000,9.000000,0.300000,5.568301e+07,4.431340e+06,5.284227e+07,2015.000000,32.000000,2.015123e+07

#### 목표변수와 설명변수 추출
- 목표변수 : MCARE_RSLT_TYPE
- 설명 변수 : MDCARE_DD_CNT , TOT_PRSC_DD_CNT

In [10]:
df_M20_extract = df_M20[['MCARE_RSLT_TYPE','MDCARE_DD_CNT', 'TOT_PRSC_DD_CNT' ]]
df_M20_extract

        MCARE_RSLT_TYPE  MDCARE_DD_CNT  TOT_PRSC_DD_CNT
0                   5.0              1                0
1                   5.0              1                2
2                   5.0              1               75
3                   5.0              1                3
4                   5.0              1                3
...                 ...            ...              ...
137158              9.0              7                0
137159              1.0             27                0
137160              9.0             11                0
137161              9.0             33                0
137162              1.0             28                0

[137163 rows x 3 columns]

#### 결측치나 이상치 확인

In [11]:
df_M20_extract.isnull().sum()

MCARE_RSLT_TYPE    3205
MDCARE_DD_CNT         0
TOT_PRSC_DD_CNT       0
dtype: int64

In [12]:
df_M20_extract = df_M20_extract.dropna()

In [13]:
df_M20_extract.isnull().sum()

MCARE_RSLT_TYPE    0
MDCARE_DD_CNT      0
TOT_PRSC_DD_CNT    0
dtype: int64

In [14]:
df_M20_extract.to_csv('NSC2_M20_quest.csv')

##### Structured data : X , Y
- 목표변수 , Y , **Target**
- 설명변수 , X , **label**
- 목표변수와 설명변수 분리

In [24]:
target = df_M20_extract['MCARE_RSLT_TYPE']
labels = df_M20_extract[['MDCARE_DD_CNT', 'TOT_PRSC_DD_CNT']]
target.shape , labels.shape   #( 행 , 열 )

((133958,), (133958, 2))

### 모델(알고리즘) 학습

#### 모델 학습
- target datatype 종속

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
model = LinearRegression()
model.fit(labels, target)    #fit( 설명변수 , 목표변수)

LinearRegression()

#### 평가

In [27]:
target_predit = model.predict(labels)
len(target_predit)     # 1번째 index 와 1번째 predit 확인

133958

In [28]:
from sklearn.metrics import r2_score
r2_score(target,target_predit)

0.013431643370749646

#### 미래예측(서비스 개시)

In [29]:
df_M20_extract[50:55]

    MCARE_RSLT_TYPE  MDCARE_DD_CNT  TOT_PRSC_DD_CNT
50              5.0              1                1
51              5.0              1               60
52              5.0              1                7
53              5.0              1                0
54              5.0              1               10

In [30]:
# 51번째 확인  1,60 : 외부에서 입
temp_label = [[1,60]]

In [31]:
model.predict(temp_label)

C:\Users\04-04\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.69555547])