In [1]:
import pandas as pd

## 병합

In [4]:
#sample DataFrames
df1= pd.DataFrame({'A':[1,'A_2',3]}, index=[0,1,2])
df2= pd.DataFrame({'B':[4,'B_5',6]}, index=[3,4,5])

In [5]:
df1

     A
0    1
1  A_2
2    3

In [6]:
df2

     B
3    4
4  B_5
5    6

In [15]:
pd.concat([df1,df2],axis=1)  # 열단위

     A    B
0    1  NaN
1  A_2  NaN
2    3  NaN
3  NaN    4
4  NaN  B_5
5  NaN    6

In [16]:
df1_reset = df1.reset_index(drop=True)

In [17]:
df2_reset =df2.reset_index(drop=True)

In [18]:
pd.concat([df1_reset,df2_reset],axis=1)

     A    B
0    1    4
1  A_2  B_5
2    3    6